{% extends "BlogCoreBundle::layout.html.twig" %} {% block image %}

<img src="{{asset ('bundles/blogblog/images/once.png')}}" alt="once-upon-a-time" class="img-responsive">

<br>
{% endblock %} {% block article %} 
{% for article in listeArticle %}
<span id="test"></span>
<div class="well" id="article{{article.id}}">
    <h2>{{article.titre}}</h2><br>
    {{article.contenu| raw}}
    <div class="pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i> Posté par {{article.auteur}} le {{article.datePublier|date("d.m.Y")}}</div>
    <br>
    <br>



    <div class="pull-right">
        <button data-target="#form{{ article.id }}" class="btn btn-primary idbouton hidden-xs boutonform" data-form="{{article.id}}"  data-toggle="collapse">Commenter</button>
        <button data-target="#form{{ article.id }}" class="btn btn-primary idbouton hidden-sm hidden-md hidden-lg boutonform" data-form="{{article.id}}" data-toggle="collapse" title="Commenter"><i class="fa fa-comments" aria-hidden="true"></i></button>
        
        <button data-target="#commentaire{{ article.id }}" class="btn btn-primary idboutoncom hidden-xs" data-toggle="collapse">Voir Commentaire(s) </button>
        <button data-target="#commentaire{{ article.id }}" class="btn btn-primary idboutoncom hidden-sm hidden-md hidden-lg" data-toggle="collapse" title="Voir Commentaires"><i class="fa fa-eye" aria-hidden="true"></i></button>
        



    </div>
    <br>
    <br>
    <br>

    <div id="form{{ article.id }}" class="panel-collapse collapse ">
        <div class="well">
            <form action="{{ path('blog_blog_com', { 'idArticle': article.id, 'page': page })}}" method="post" data-form="{{article.id}}" id="formulaire{{article.id}}" class="formulaireArticle">
                <div class="form-group">
                    <label class="control-label required" for="auteur">Auteur : </label>
                    <input type="text" id="auteur{{article.id}}" name="auteur" required="required" maxlenght="255" class="form-control" placeholder="Votre pseudo...">
                </div>
                <div class="form-group">
                    <label class="control-label required" for="contenu">Contenu : </label>
                    <textarea type="text" id="contenu{{ article.id }}" name="contenu" required="required" class="form-control" placeholder="Votre commentaire..."></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="publier{{ article.id }}" name="publier{{ article.id }}" class="btn btn-default " >Publier</button>
                </div>
            </form>

        </div>
    </div>
    <div id="loading{{article.id}}" class="com" data-com="comment{{article.id}}"></div>
    <div id="commentaire{{ article.id }}" class="panel-collapse collapse ">

        <div id="comment{{article.id}}" class="com" data-com="comment{{article.id}}">{% include 'BlogBlogBundle:Blog:listeCom.html.twig' %}
        </div>
    </div>

</div>


{% endfor %}
<div class="text-center">
    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #} 
        {% for p in range(1, nbPages) %}
            <li {% if p == page %} class="active" {% endif %}>
                <a href="{{ path('blog_core_homepage', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %} {% block dernierarticle%}
<div class="well hidden-sm hidden-xs">
    {{ render(controller("BlogBlogBundle:Blog:dernier")) }}
</div>
{% endblock %} {% block javascriptsbody %}

{# fonction de reponse aux articles et aux coms #}

<script type="text/javascript">
    
    
    function init2(){
      soumissionformcom();
      signaler();  
    }
    function signaler(){
    $('.signaler').on('click', function (e) {
        e.preventDefault();
        var idarticleerreur = $(this).data("article");
        var epl = "comment" + idarticleerreur;
        $.ajax({
                    url: $(this).attr('href'),
                    success: function (response) {
                        $("#" + epl).html(response);
                        init();

                    }
                });
        });
    }
    function soumissionform() {
      
            $('.formulaireArticle').on('submit', function (e) {

                e.preventDefault();
                var id = $(this).data("form");
                var form = "form" + id;
                var epl = "comment" + id;
                var loading = "loading" + id;
                var auteur = $('#auteur' + id).val();
                var contenu = $('#contenu' + id).val();
                
                
                $("#" + form).removeClass('in');
                $("#" + loading).html("<img src='{{asset ('bundles/blogblog/images/loading.gif')}}' alt='loading'>");
                
        
                $.ajax({
                    url: $(this).attr('action'),
                    method: $(this).attr('method'),
                    data: {
                        auteur: auteur,
                        contenu: contenu
                    },
                    success: function (response) {
                        $("#" + loading).html("");
                        $("#" + epl).html(response);
                        init();
                       
                    }
                });

            });
        
    }
    
    function soumissionformcom() {
     
            $('.formulaireCom').on('submit', function (e) {

                e.preventDefault();
                var idcom = $(this).data("form");
                var idarticlecom = $(this).data("article");
                var formcom = "form" + idcom + idarticlecom;
                var epl = "comment" + idarticlecom;
                var loading = "loading" + idarticlecom;
                var auteur = $('#auteur' + idcom + idarticlecom).val();
                var contenu = $('#contenu' + idcom + idarticlecom).val();
                $("#" + formcom).removeClass('in');
                $("#" + loading).html("<img src='{{asset ('bundles/blogblog/images/loading.gif')}}' alt='loading'>");



                $.ajax({
                    url: $(this).attr('action'),
                    method: $(this).attr('method'),
                    data: {
                        auteur: auteur,
                        contenu: contenu
                    },
                    success: function (response) {
                        $("#" + loading).html("");
                        $("#" + epl).html(response);
                        init2();
                    }
                });

            });
        }
    init();
    soumissionform();
    function init(){
      soumissionformcom();
      signaler(); 
          
    }
</script>

{% if page == 1%}
<script>
    $(function () {
        $('.dernierArticle').on('click', function (e) {
            e.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000, function () {
                window.location.hash = hash;
            });
        });
    });
</script>
{{ tinymce_init() }}
{% endif %} 
{% endblock %}
